{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% if user_logged_in %} 
  <h1>Luokat</h1>
{% endif %}


<!--<ul>
    {% for class in classes %}
            <li>{{class.classname}} {{forms.destroy_button("#{base_path}/class/#{class.id}/destroy")}}</li>
      {% endfor %}
      
</ul>-->

  <table  style="width:25%">


    <tbody>
      {% for class in classes %}
        <tr>
          <td>{{class.classname}}</td>
          <td>{{forms.destroy_button("#{base_path}/class/#{class.id}/destroy")}}  </td>
        </tr>
      {% endfor %}
    
    </tbody>
  </table>
<p></p>  
<p></p>  
  <p>
    <a href="{{base_path}}/class/new" class="btn btn-success">Lisää luokka</a>
  </p>
{% endblock %}