{% extends "base.html" %}
{% block content %}
  <h1>Pese pyykit</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    

    <li><strong>Tärkeysaste:</strong> Kiireellinen</li>
    <li><strong>Luokka:</strong> Koti</li>
     <li><strong>Status:</strong> <label class="label label-danger">tekemättä</label></li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Sukat ovat loppu!
  </p>
{% endblock %}